body {
    -webkit-user-select: none;
    user-select: none;
    background:white;
}
* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    -webkit-user-drag: none;
    font-family:spectral;
}
img {
    vertical-align: middle;
}
a {
    text-decoration:none;
    color:black;
}

.navbar-dark {
    background:#16697A;
    padding:21px 36px;
    position:relative;
}
.btn {
    background:#0000;
    border:none;
    outline:none;
    cursor:pointer;
    vertical-align: middle;
    position:relative;
}
.nd-phone, .nd-email {
    font-family:spectral;
    font-size:14px;
    color:white;
}
.nd-phone:is(:focus, :hover), .nd-email:is(:focus, :hover) {
    text-decoration:underline 1px white;
}
.nd-email {
    margin-left:30px;
}
.nd-header {
    display: inline-block;
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:14px;
    font-weight: 700;
    color:white;
}
.nd-container-1 {
    float:right;
    display:flex;
    gap:15px;
}
.nd-social-container {
    display:flex;
    gap:16px;
}
.dn-social-text {
    color:white;
    font-size:14px;
}
.btn.socials {
    transition:transform 0.2s ease-in-out;
}
.btn.socials:is(:hover, :focus) {
    transform:scale(1.2);
}

.navbar-light {
    display:flex;
    flex-direction: row;
    padding:21px 36px;
    align-items:center;
    gap:100px;
}
.comp-name {
    font-size:26px;
    color:#252B42;
    font-weight:700;
}
.nav-link-1 {
    display:flex;
    gap:22px;
}
.nav-link-2 {
    display:flex;
    gap:30px;
    margin-left:auto;
}
.nl-button-1 {
    color:#737373;
    font-size:14px;
}
.nl-button-1::before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-bottom:2px solid rgb(82, 165, 197);

    transform:scaleX(0);
    transform-origin:right;

    transition:transform 0.15s ease-in-out;
}
.nl-button-1:is(:hover, :focus)::before {
    transform:scaleX(1);
    transform-origin:left;
}
.nl-button-2 {
    color:rgba(255, 166, 43, 1);
    font-size:12px;
}
.nl-button-2:first-child {
    font-size:14px;
    font-weight:700;
}
.nl-button-2:first-child::before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-bottom:2px solid rgb(250, 203, 139);

    transform:scaleX(0);
    transform-origin:right;

    transition:transform 0.15s ease-in-out;
}
.nl-button-2:first-child:is(:focus, :hover)::before {
    transform:scaleX(0.85);
}
.background-img {
    width:100%;
    position:relative;
    height:80vh;
}
.content-1 {
    position:absolute;
    top:70%;
    left:50%;
    transform:translate(-50%,-70%);
    width:1260px;
}
.season-name {
    font-size:17px;
    color:white;
}
.c1-header {
    font-size:80px;
    font-weight:700;
    color:white;
    width:41%;
    margin:21px 0 21px 0;
}
.c1-description {
    font-size:20px;
    color:white;
    margin-bottom:21px;
    width:25.5%;
}
.btn.c1-read-more {
    font-size:14px;
    font-weight:700;
    color:white;
    padding:15px 36px;
    border:1px solid white;
    border-radius:30px;

    transition:border 0.05s ease-in-out, box-shadow 0.5s ease-in-out;
}
.btn.c1-read-more:is(:hover, :focus) {
    box-shadow:inset 200px 0 0 0 rgb(57, 149, 191);
    border:1px solid rgb(57, 149, 191);
    color:white;
}

.main-container {
    display:flex;
    justify-content:center;
}
.main-content {
    width:1260px;
    display:flex;
    flex-direction: column;
}
.shop-card-container-1 {
    display:flex;
    flex-direction:row;
    gap:30px;
    justify-content:center;
    margin:80px 0;
}
.sc1-shop-card {
    position:relative;
    overflow:hidden;
}
.sc1-shop-card:is(:hover, :focus) .card-img-1 {
    transform:scale(1.1);
}
.card-img-1 {
    transition:transform 0.4s ease-in-out;
}
.sc1-text-container {
    position:absolute;
    top:20%;
    left:8%;
}
.sc1-card-label, .sc1-explore {
    font-size:14px;
}
.sc1-header {
    font-size:26px;
    margin:19px 0;
}
.sc1-description {
    font-size:14px;
    margin-bottom:18px;
}
.first:first-child {
    color:rgba(231, 124, 64, 1);
}
.first:nth-child(2), .first:nth-child(4) {
    color:rgba(37, 43, 66, 1)
}
.first:nth-child(3) {
    color:rgba(115, 115, 115, 1);
}
.second {
    color:white;
}
.sc1-explore::before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-bottom:2px solid white;

    transform:scaleX(0);
    transform-origin:center;

    transition:transform 0.2s ease-in-out;
}
.sc1-explore:is(:focus, :hover)::before {
    transform:scaleX(1);
}
.shop-card-container-2 {
    display:flex;
    flex-direction: column;
    gap:24px;
    margin:80px 0;
}
.sc-container-2-2 {
    display:flex;
    justify-content:center;
    gap:30px;
}
.sc2-shop-card {
    background:black;
    position:relative;

    overflow:hidden;
    transition:transform 0.4s ease-in-out;
}
.sc2-shop-card:is(:hover, :focus) {
    transform:translateY(-8px);
}
.sc2-shop-card:is(:hover, :focus) .card-img-2{
    transform:scale(1.2);
}
.card-img-2 {
    filter:opacity(0.7);
    transition:transform 0.6s ease-in-out;
}
.sc2-text-container {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    text-align: center;
    width:100%;
}
.sc2-header {
    font-size:26px;
    color:white;
}
.sc2-description {
    font-size:16px;
    color:white;    
}